@import "css-components/navbar.css";
@import "css-components/footer.css";

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*This is where we make the sections take a full screen*/

html, body {
  height: 100%;
  margin: 0;
  color: #6d6d6d;
}

#section02, #section04 {
  height: 90%;
}

#section05 {
  height: 90%;
}

body {
  background-color: #f0f0f0;
}

a {
  color: inherit;
  }

a:hover { color: inherit; }

h5 {
  font-size: 25px;
}

html {
  scroll-behavior: smooth;
}
 h1 {
  font-weight: 400;
 }

/* Making the scroll arrow relative to its parent.*/
#section02, #section03, #section04 {
  position: relative;
}

#section06 {
  position: relative;
  bottom: 50px;
}

 #section01 a span {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 24px;
   height: 24px;
   margin-left: -12px;
   border-left: 4px solid #fff;
   border-bottom: 4px solid #fff;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-animation: sdb07 2s infinite;
   animation: sdb07 2s infinite;
   opacity: 0;
   box-sizing: border-box;
 }
 #section01 a span:nth-of-type(1) {
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
 }
 #section01 a span:nth-of-type(2) {
   bottom: -16px;
   -webkit-animation-delay: .15s;
   animation-delay: .15s;
 }
 #section01 a span:nth-of-type(3) {
   bottom: -32px;
   -webkit-animation-delay: .3s;
   animation-delay: .3s;
 }

/* #section01, #section02, #section03, #section04 {
  min-height: 85%;
 }*/

 #section02 a span {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 24px;
   height: 24px;
   margin-left: -12px;
   border-left: 4px solid #6d6d6d;
   border-bottom: 4px solid #6d6d6d;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-animation: sdb07 2s infinite;
   animation: sdb07 2s infinite;
   opacity: 0;
   box-sizing: border-box;
 }
 #section02 a span:nth-of-type(1) {
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
 }
 #section02 a span:nth-of-type(2) {
   bottom: -16px;
   -webkit-animation-delay: .15s;
   animation-delay: .15s;
 }
 #section02 a span:nth-of-type(3) {
   bottom: -32px;
   -webkit-animation-delay: .3s;
   animation-delay: .3s;
 }

 #section03 > a span {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 24px;
   height: 24px;
   margin-left: -12px;
   border-left: 4px solid #6d6d6d;
   border-bottom: 4px solid #6d6d6d;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-animation: sdb07 2s infinite;
   animation: sdb07 2s infinite;
   opacity: 0;
   box-sizing: border-box;
 }
 #section03 > a span:nth-of-type(1) {
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
 }
 #section03 > a span:nth-of-type(2) {
   bottom: -16px;
   -webkit-animation-delay: .15s;
   animation-delay: .15s;
 }
 #section03 > a span:nth-of-type(3) {
   bottom: -32px;
   -webkit-animation-delay: .3s;
   animation-delay: .3s;
 }

  #section04 a span {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 24px;
   height: 24px;
   margin-left: -12px;
   border-left: 4px solid #6d6d6d;
   border-bottom: 4px solid #6d6d6d;
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-animation: sdb07 2s infinite;
   animation: sdb07 2s infinite;
   opacity: 0;
   box-sizing: border-box;
 }
 #section04 a span:nth-of-type(1) {
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
 }
 #section04 a span:nth-of-type(2) {
   bottom: -16px;
   -webkit-animation-delay: .15s;
   animation-delay: .15s;
 }
 #section04 a span:nth-of-type(3) {
   bottom: -32px;
   -webkit-animation-delay: .3s;
   animation-delay: .3s;
 }

  #section06 a span {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 24px;
   height: 24px;
   margin-left: -12px;
   border-left: 4px solid #6d6d6d;
   border-bottom: 4px solid #6d6d6d;
   -webkit-transform: rotate(135deg);
   transform: rotate(135deg);
   -webkit-animation: sdb07 2s infinite;
   animation: sdb07 2s infinite;
   opacity: 0;
   box-sizing: border-box;
 }
 #section06 a span:nth-of-type(1) {
   -webkit-animation-delay: .3s;
   animation-delay: .3s;
 }
 #section06 a span:nth-of-type(2) {
   bottom: -16px;
   -webkit-animation-delay: .15s;
   animation-delay: .15s;
 }
 #section06 a span:nth-of-type(3) {
   bottom: -32px;
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
 }

 @-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/computer-1209641_1920.jpg');
}*/

.banner {
  position: relative;
}

#myVideo {
  position: relative;
  z-index:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.skill-text-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px 20px 30px 20px;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.bio-text-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px 20px 30px 20px;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
}

#photo-bio {
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bio-text-right-photo {
  text-align: left;
  line-height: 1.7em;
  font-size: min(1.6vw, 18px);
}

#bio-text-under-photo {
  margin-top: 15px;
  font-size: min(16px, 1.9vh);
  text-align: justify;
}

.text-content {
  text-align: justify;
  font-size: min(28px, 2.4vh);
}

.bio-text-content {
  padding: 15px;
  text-align: justify;
  font-size: max(20px, 1.7vh);
}

.skill-list {
  margin-bottom: 10px;
  text-align: left;
}

.skill-list span {
  padding: 5px 15px;
  border: solid #286fac 1px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 0.5vw;
  line-height: 5vw;
  color: #6d6d6d;
}

.skill-list-small {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.skill-list-small span {
  padding: 5px 15px;
  border: solid #286fac 1px;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 700;
  margin-right: 0.2vw;
  color: #6d6d6d;
}

.content {
  letter-spacing: 10px;
  position: absolute;
  z-index:1;
  top: 130px;
  width: 100%;
  padding: 20px;
}

.presentation{
  text-align: center;
}

#place-title {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  /*font-size: 6em;*/
  font-size:6vw;
}

#text-white {
  color: white;
  font-size: 2vw;
  font-weight: 400;
}

#avatar {
  /*border: 3px solid #286fac;*/
/*  width: 200px;
  height: 200px;*/
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: grayscale(100%);
  width: 3vw;
  border-radius: 4%;
  margin: 15px 15px 0px 15px;
}

.icons-small {
  filter: grayscale(100%);
  width: 20px;
  border-radius: 4%;
  margin: 5px 5px 0px 5px;
}

.language-bar {
  margin-top: 20px;
  text-align: center;
  min-height: 100%;
}

.language-bar h1 {
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  color: #6d6d6d;
}

.language-bar-small {
  position: absolute;
  bottom: 30px;
  text-align: left;
  margin-left: 5px;
}

.websites {
  margin-top: 60px;
  text-align: center;
  min-height: 100%;
}

.websites h1 {
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  color: #6d6d6d;
  margin-bottom: 20px;
}

.bio {
  margin-top: 60px;
  text-align: center;
}

.bio h1 {
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  color: #6d6d6d;
  margin-bottom: 20px;
}

.resume {
  margin-top: 60px;
  text-align: center;
}

.resume-text-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px 20px 30px 20px;
  background-color: white;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 20px;
}

.resume-title {
 margin-bottom: 8px;
}

.resume-date {
  text-align: right;
}

.resume-intersection {
  height: 20px;
}

.resume-text-box-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.resume-text-box-title2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  border-top: solid #cecece 1px;
}

.resume-dates {
  font-size: 20px;
  font-weight: 500;
}

.resume-contact {
  color: #286fac;
  text-align: center;
  margin-top: 25px;
}

#websites-container-margin-top {
  margin-top: 35px;
}

.card {
  background-color: white;
  width: 100%;
  height: 370px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.card-img-top {
  padding: 20px 40px 10px 40px ;
  max-width:100%;
  max-height: 230px;
  border-bottom: solid #dddddd 1px;
}

#wrapper {
  position: relative;
}

#wrapper:hover .pop-up {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 300ms, opacity 0s;
}

#wrapper:hover .card-img-top {
  filter: blur(5px);
}

#wrapper .pop-up {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  visibility:hidden;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
}

.card-title {
  margin-left: 10px;
  font-size: 25px;
}

.card-text {
  margin: 0px 20px 8px 20px;
  /*bellow, text adapts to screen but never exceeds 18px*/
  font-size: min(1.6vw, 18px);
  text-align: center;
}

.card:hover {
  cursor: pointer;
  /*filter: blur(5px);*/
  transition: 0.3s ease-in-out;
}

.card-img-top:hover {
  filter: blur(5px);
  transition: 0.3s ease-in-out;
}

#envelope-size {
  font-size: 30px;
}
