@import "css-components/banner.css";
@import "css-components/navbar.css";
@import "css-components/footer.css";
@import "css-components/sections.css";
@import "css-components/skills.css";
@import "css-components/portfolio.css";
@import "css-components/bio.css";
@import "css-components/resume.css";

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*This is where we make the sections take a full screen*/

html, body {
  height: 100%;
  margin: 0;
  color: #6d6d6d;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
}

a {
  color: inherit;
  }

a:hover { color: inherit; }

h1 {
  font-weight: 400;
 }

h5 {
  font-size: 25px;
}
