* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  }

a:hover { color: inherit; }

h5 {
  font-size: 25px;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('images/computer-1209641_1920.jpg');
}

.presentation{
  text-align: center;
  padding: 110px 0px;
}

#place-title {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: 500;
  font-size: 6em;
}

#text-white {
  color: white;
  font-size: 2.4em;
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  width: 80px;
  border-radius: 4%;
  margin: 15px 15px 0px 15px;
}

.icons-small {
  width: 20px;
  border-radius: 4%;
  margin: 5px 5px 0px 5px;
}

.language-bar {
  margin: 5px;
  text-align: center;
}

.language-bar-small {
  text-align: left;
  margin-left: 5px;
}

.websites {
  margin-top: 60px;
}

.card {
  width: 100%;
  height: 450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.card-img-top {
  max-width:100%;
  max-height:100%;
}

.card-title {
  margin-left: 10px;
}

.card-text {
  margin-left: 10px;
  margin-bottom: 8px;
}

.card:hover {
  cursor: pointer;
  filter: blur(5px);
  transition: 0.3s ease-in-out;
}
