@media screen and (max-width: 1023px) and (min-width: 737px) {

  h3 {
    margin: 0;
  }


  #skills, #bio {
    height: unset;
  }

  #resume {
    height: 110%;
  }

  #avatar {
    width: 120px;
    height: 120px;
  }

  .presentation{
    margin-top: -65px;
    text-align: center;
  }

  #empty-container {
    display: none;
  }

  #empty-container2 {
    height: 30px !important;
  }

  #empty-container3 {
    height: 50px !important;
  }

  #text-white {
    color: white;
    font-size: 3.5vw;
    font-weight: 400;
  }

  #home-arrows {
    margin-top: 20px;
  }

  .skill-text-box {
    margin-bottom: 35px;
  }

  .footer-box {
    display: flex;
    justify-content: center;
    height: 70px;
    padding: 10px 50px 0px 50px;
  }

  .card-text {
    margin: 0px 20px 8px 20px;
    font-size: 21px;
    text-align: justify;
  }

  .card {
    height: 100%;
    padding-bottom: 35px;
  }


  #photo-bio {
    width: 250px;
  }

  .bio-text-right-photo {
    text-align: justify;
    line-height: 1.7em;
    font-size: 21px;
  }


  .resume-job-description {
    font-size: 21px;
  }

}


@media screen and (max-width: 991px) and (min-width: 768px) {
  .bio-text-right-photo {
    display: none;
  }

    .bio-text-right-photo-ipad {

  }

    .bio-text-under-photo {

  }

}

@media screen and (max-width: 767px) {

    .bio-text-right-photo-ipad {
      display: none;
  }

    .bio-text-under-photo {
      display: none;
  }

}

@media screen and (min-width: 992px) {

    .bio-text-right-photo-ipad {
      display: none;
  }

    .bio-text-under-photo {
      display: none;
  }

}


@media screen and (min-width: 992px) {
  #photo-bio {
    width: 100%;
  }

}

@media screen and (max-width: 991px) and (min-width: 737px) {
  #bio {
    height: 60em;
  }

  #resume {
    height: 75em;
  }
}

@media screen and (max-width: 937px) and (min-width: 737px) {

  .menu a {
    font-size: 1.3vw;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
    -moz-transform: scale(1, 1.5); /* Firefox */
    -ms-transform: scale(1, 1.5); /* IE 9+ */
    -o-transform: scale(1, 1.5); /* Opera */
  }

  .menu-under a {
    font-size: 1.3vw;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5); /* Safari and Chrome */
    -moz-transform: scale(1, 1.5); /* Firefox */
    -ms-transform: scale(1, 1.5); /* IE 9+ */
    -o-transform: scale(1, 1.5); /* Opera */
  }

}
