@media screen and (max-width: 1025px) and (min-width: 721px) {

  h3 {
    margin: 0;
  }


  #skills, #bio {
    height: unset;
  }

  #resume {
    height: 92%;
  }

  #avatar {
    width: 120px;
    height: 120px;
  }

  .presentation{
    margin-top: -65px;
    text-align: center;
  }

  #empty-container {
    display: none;
  }

  #empty-container2 {
    height: 30px !important;
  }

  #empty-container3 {
    height: 50px !important;
  }

  #text-white {
    color: white;
    font-size: 3.5vw;
    font-weight: 400;
  }

  #home-arrows {
    margin-top: 20px;
  }

  .skill-text-box {
    margin-bottom: 35px;
  }

  .footer-box {
    display: flex;
    justify-content: center;
    height: 70px;
    padding: 10px 50px 0px 50px;
  }

  .card-text {
    margin: 0px 20px 8px 20px;
    font-size: 2.4vh;
    text-align: justify;
  }

  .card {
    height: 100%;
    padding-bottom: 35px;
  }


  #photo-bio {
    width: 250px;
  }

  .bio-text-right-photo {
    text-align: justify;
    line-height: 1.7em;
    font-size: 19px;
  }


  .resume-job-description {
    font-size: 2.4vh;
  }

}


@media screen and (max-width: 991px) and (min-width: 768px) {
  .bio-text-right-photo {
    display: none;
  }

    .bio-text-right-photo-ipad {

  }

    .bio-text-under-photo {

  }

}

@media screen and (max-width: 767px) {

    .bio-text-right-photo-ipad {
      display: none;
  }

    .bio-text-under-photo {
      display: none;
  }

}

@media screen and (min-width: 992px) {

    .bio-text-right-photo-ipad {
      display: none;
  }

    .bio-text-under-photo {
      display: none;
  }

}


@media screen and (min-width: 992px) {
  #photo-bio {
    width: 100%;
  }

}
