@media screen and (max-width: 720px) {

  a > span {
    display: none;
  }

  h3 {
    margin: 0;
  }

  .language-bar h1, .websites h1, .bio h1, .resume h1 {
    font-size: 18px;
    margin-bottom: 0;
  }

  #skills, #bio {
    height: unset;
  }

  #resume {
    height: unset;
  }

  #empty-container {
    display: none;
  }

  #avatar {
    width: 90px;
    height: 90px;
  }

  .presentation{
    margin-top: -130px;
    text-align: center;
  }

  #place-title {
    margin-top: 0;
    font-size:5vw;
  }

  #text-white {
    color: white;
    font-size: 3vw;
    font-weight: 400;
  }


  .menu {
    display: none;
  }

  .navbar-under {
    display: none;
  }

  .menu-under {
    display: none;
  }

  .menu-under a {
    display: none;
  }

/*  .navbar-iphone {
    position: fixed;
  }*/

  .menu-iphone {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .menu-iphone a {
    margin-top: 25px;
    padding-right: 3px;
    color: white;
    letter-spacing: 2px;
    font-size: 3vw;
    font-weight: 700;
  }


  .navbar-iphone-under {
    background: #f0f0f0;
  }


  .menu-iphone-under a {
    display: none;
  }

  .menu-iphone-under-after {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-iphone-under-after a {
    padding-right: 3px;
    color: black;
    font-weight: 500 !important;
    letter-spacing: 2px;
    font-size: 3vw;
    font-weight: 700;
  }

  .menu-iphone-under-after a:hover {
    color: #6d6d6d;
  }


  .footer-box {
    display: flex;
    justify-content: center;
    height: 70px;
    padding: 10px 50px 0px 50px;
  }


  .skill-list {
    margin-bottom: 10px;
    text-align: center;
  }

  .skill-list span {
    padding: 1px 4px;
    font-size: 13px;
    line-height: 7vw;
  }

  .skills-text-content {
    text-align: justify;
    font-size: 2.4vh;
  }

  .card-text {
    margin: 0px 20px 8px 20px;
    font-size: 2.4vh;
    text-align: justify;
  }

  .skill-list-small {
    position: absolute;
    right: 30px;
    bottom: 15px;
  }

  .skill-list-small span {
    padding: 1px 4px;
    border: solid #286fac 1px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 700;
    margin-right: 0.2vw;
    color: #6d6d6d;
  }

  .card {
    height: 100%;
    padding-bottom: 35px;
  }

  .card-img-top {
    display: none;
  }

  .card-img-top-phone {
    visibility: visible;
    padding: 20px 20px 10px 20px ;
    max-width:100%;
    max-height: 230px;
    border-bottom: solid #dddddd 1px;
  }

  .card-img-top-phone:hover {
    filter: blur(5px);
    transition: 0.3s ease-in-out;
  }

  #wrapper:hover .card-img-top-phone {
    filter: blur(5px);
  }



  #photo-bio {
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .bio-text-right-photo {
    text-align: justify;
    line-height: 1.7em;
    font-size: 2.4vh;
  }


  .resume-text-box-title {
    font-size: 19px;
  }

  .resume-text-box-title2 {
    font-size: 19px;
  }

  .resume-title {
    font-size: 12px;
  }

  .resume-dates {
    font-size: 12px;
  }

  .resume-job-description {
    font-size: 2.4vh !important;
  }

  .resume-contact {
    display: none;
  }

  .resume-contact-phone {
    color: #286fac;
    text-align: center;
    margin-top: 11px;
    font-size: 2.4vh;
  }


  .footer {
    height: 50px;
    margin-top: 15px;
  }

}

@media screen and (max-width: 511px) {
  #photo-bio-landscape {
    display: none;
  }
}


@media screen and (min-width: 512px) and (max-width: 767px) {

  a {
    text-decoration: none !important;
    color: inherit !important;
  }

  #photo-bio {
    display: none;
  }

  #photo-bio-landscape {
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .menu-iphone {
    color: white;
    bottom: -50px;
  }


}

@media screen and (min-width: 768px) {
  #photo-bio-landscape {
    display: none;
  }

}

@media screen and (min-width: 721px) {

  .menu-iphone-under-after {
    display: none;
  }

  .menu-iphone-under {
    display: none;
  }

  .card-img-top-phone {
    display: none;
  }

  .resume-contact-phone {
    display: none;
  }

  .menu-iphone {
    display: none;
  }
}
