@media screen and (max-width: 420px) {

  html, body {
    margin: 0;
    color: #6d6d6d;
  }

  #myVideo {
    position: relative;
    z-index:0;

    height: 200%;
  }



  .content {
    letter-spacing: 10px;
    position: absolute;
    z-index:1;
    top: 130px;
    width: 100%;
    padding: 20px;
  }

  .presentation{
    margin-top: -100px;
    text-align: center;

  }

  .navbar {
    margin-top: -10px;
    color: white;
    z-index: 10;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-size: 3.5vw;
    font-weight: 500;
    padding: 0px 10px;
    right: 0;
  }

  .menu a:hover {
    border-bottom: solid white 1px;
  }

  .navbar-under {
    margin: 0;
    background: #f0f0f0;
    position: fixed;
    color: black;
    display: flex;
    height: 30px;
    z-index: 10;
  }

  .menu-under {
    position: relative;
    display: flex;
    align-items: center;
    right: 0;
  }

  .menu-under a {
    color: black;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 500;
    padding: 0px 10px;
  }

  .menu-under a:hover {
    border-bottom: solid black 1px;
  }


}
