@media screen and (max-width: 420px) {

  a span {
    display: none;
  }

  h3 {
    margin: 0;
  }

  .language-bar h1, .websites h1, .bio h1, .resume h1 {
    font-size: 18px;
    margin-bottom: 0;
  }

  #skills, #bio {
    height: unset;
  }

  #resume {
    height: unset;
  }

  #empty-container {
    display: none;
  }

  .presentation{
    margin-top: -100px;
    text-align: center;
  }

  #text-white {
    color: white;
    font-size: 3.5vw;
    font-weight: 400;
  }

  .navbar {
    margin-top: -10px;
    color: white;
    z-index: 10;
    position: absolute;
  }

  .menu a {
    font-size: 3.6vw;
  }

  .navbar-under {
    display: none;
  }

  .menu-under {
    display: none;
  }

  .menu-under a {
    display: none;
  }

}
