@media screen and (max-width: 378px) {
  .skill-list-small span {
    font-size: 8px;
  }

  .footer-links a {
    font-size: 25px;
  }

  #codewars-icon-size {
    height: 25px;
  }

  .menu-iphone {
    bottom: 10px;
  }

}

@media screen and (max-width: 340px) {

  .menu-iphone {
    bottom: 20px;
  }

}

@media screen and (max-width: 313px) {

  #avatar {
    width: 20vw;
    height: 20vw;
  }

}

@media screen and (max-width: 363px) {

  .skill-list span {
    font-size: 10px;
  }

}
