@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #skills {
    height: 650px;
  }

  #bio {
    height: 750px;
  }

  #resume {
    height: 850px;
  }

  .skills-text-content {
    font-size: min(1.6vw, 18px);
  }
}


@media screen and (min-width: 1280px) and (max-width: 1367px) {
  #skills {
    height: 650px;
  }

  #bio {
    height: 820px;
  }

  #resume {
    height: 800px;
  }

  .skills-text-content {
    font-size: min(1.6vw, 18px);
  }
}

@media screen and (min-width: 1368px) and (max-width: 1600px) {
  #bio {
    height: 850px;
  }

  #resume {
    height: 860px;
  }
}
