.bio-text-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px 20px 30px 20px;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
}

#photo-bio {
  width: min(80%, 20vw);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bio-text-right-photo {
  text-align: left;
  line-height: 1.7em;
  font-size: min(1.6vw, 18px);
}

.bio-text-content {
  padding: 15px;
  text-align: justify;
  font-size: max(20px, 1.7vh);
}

.bio {
  margin-top: 60px;
  text-align: center;
}

.bio h1 {
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  color: #6d6d6d;
  margin-bottom: 20px;
}
