.footer {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 70px;
  padding: 10px 50px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.5;
}

.footer-box {
  display: flex;
  justify-content: center;
  height: 70px;
  padding: 10px 50px;
}

.footer-links-box {
  display: flex;
  align-items: center;
}

.footer-links-box a {
  color: #286fac;
  text-decoration: none;
  font-size: 44px;
  padding: 0px 10px;
}

.footer-links-box a:hover {
  opacity: 1;
}

#codewars-icon-size {
  height: 24px;
  margin-bottom: 5px;
}

#codewars-icon-size-box {
  height: 40px;
  margin-bottom: 5px;
}

#codewars-icon-size-box:hover {
  filter: gray;
  -webkit-filter: grayscale(100%);
}
