.footer {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 70px;
  padding: 10px 50px;
  color: white;
  position: relative;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

#codewars-icon-size {
  height: 24px;
  margin-bottom: 5px;
}
