.resume {
  margin-top: 60px;
  text-align: center;
}

.resume h1 {
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  color: #6d6d6d;
  margin-bottom: 20px;
}

.resume-text-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px 20px 30px 20px;
  background-color: white;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 20px;
}

.resume-title {
 margin-bottom: 8px;
}

.resume-date {
  text-align: right;
}

.resume-intersection {
  height: 20px;
}

.resume-text-box-title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.resume-text-box-title2 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  border-top: solid #cecece 1px;
}

.resume-job-description {
  font-size: min(1.6vw, 18px);
}

.resume-dates {
  font-size: 20px;
  font-weight: 500;
}

.resume-contact {
  color: #286fac;
  text-align: center;
  margin-top: 25px;
}
